<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://firebaseappdistribution.googleapis.com/app-binary-downloads/firebase-app-distro/app-binaries/234643157439/1:234643157439:ios:0a72bbaac2b6b6302cf10a/ba1ae6eb-7bd3-4cc4-a43b-be83daaaea5f.ipa?token=AFb1MRwAAAAAY1bGjL1weVPNResZEpUfUFTvvWOChCuJ0AlClhLfXHeIPiu-EslxN77a7SAhf3NLSz6_Ovf8zYhqP1UV-NPFMIWYJBM7HrtCJw6BCawe0rZqlx-RjaPedkpfimkp7lEaNIAVWYW3R9tcZWSycZZ5acTtUVEq6PAeR_NHZ4jFo7nRz4uS7Pt4I9PvbUjjIyKPL2wEOv3Xs-EayrXFSRy60cbZtIAq3ThkQ3U1MM8JEWX-ct4jL7O63Y2PdgnfCHtuTIesA96mYVzwqVgimHvi0aXIW7FSiFfJxLanVDtAwhzQs8NU6ClKUx74eGIalWTlY_Ep8KqhhOuSZY-EseF700dlzl4</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://play-lh.googleusercontent.com/C0-0Jsdl7Zrtqz5pXIrlceWN0lNBWXR_2lYbRw17buoTfekxUwKQ3vAdCZsGHBHsXaY=s96-rw</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://play-lh.googleusercontent.com/C0-0Jsdl7Zrtqz5pXIrlceWN0lNBWXR_2lYbRw17buoTfekxUwKQ3vAdCZsGHBHsXaY=s96-rw</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.groupe-exp.lexpress</string>
				<key>bundle-version</key>
				<string>12.3.0</string>
				<key>kind</key>
				<string>software</string>
				<key>platform-identifier</key>
				<string>com.apple.platform.iphoneos</string>
				<key>title</key>
				<string>LExpress</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
